<!-- <div class="header">
  <p>Add New Student</p>
</div> -->
<div class="container pt-4">

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 stdntFrm">
      <div [hidden]="submitted">
          <h4 class="text-center pb-2">Add Student</h4>
        <form [formGroup]="studentsaveform" #savestudent (ngSubmit)="saveStudent(saveStudent)">
          <div class="form-group">
            <!-- <label for="name">Student Name</label> -->
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Student Name">
            <div class="alert alert-danger" *ngIf="(StudentName.touched) && (StudentName.invalid)"
              style="margin-top: 5px;">
              <span *ngIf="StudentName.errors.required">Student Name is Required</span>
              <span *ngIf="StudentName.errors.minlength">
                MinLength Error
              </span>
            </div>
          </div>

          <div class="form-group">
            <!-- <label for="name">Student Email</label> -->
            <input type="text" class="form-control" formControlName="email" 
              placeholder="Enter Student Email"  title="Enter Student Email">
            <div class="alert alert-danger" *ngIf="(StudentEmail.touched) && (StudentEmail.invalid)"
              style="margin-top: 5px;">
              <span *ngIf="StudentEmail.errors.required">Student Email is Required</span>
              <span *ngIf="StudentEmail.errors.email">
                Invalid Email Format
              </span>
            </div>
          </div>

          <div class="form-group">
            <!-- <label for="branch">Student Branch</label> -->
            <select class="form-control" formControlName="branch"  
              title="Select Student Branch">
              <option value="">--Select Branch--</option>
              <option value="B-Tech">B-Tech</option>
              <option value="BCA">BCA</option>
              <option value="MCA">MCA</option>
              <option value="M-Tech">M-Tech</option>
            </select>
          </div>
          <div class="form-group">
            <!-- <label for="course">Select Course</label> -->
            <select class="form-control" formControlName="course_id"  
              title="Select Course" (change)="coursechng()">
              <option value="">--Select Course--</option>
              <option value=1>JAVA</option>
              <option value=2>NODEJS</option>
              <option value=3>SPRING</option>
              <option value=4>ANGULAR</option>
              <option value=5>HIBERNATE</option>
            </select>
          </div>
          <div class="form-group">
            <!-- <label for="course">Select Teacher</label> -->
            <select class="form-control" formControlName="teacher_id"  
              title="Select Teacher">
              <option value="">--Select Teacher--</option>
              <option *ngFor="let option of options" [value]="option.teacher_id">{{option.lastName}}
                {{option.firstName}}</option>
            </select>
          </div>

          <div formGroupName="address">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                <div class="form-group">
                  <!-- <label for="area">Area</label> -->
                  <input type="text" class="form-control" formControlName="area" 
                     title="Enter area" placeholder="Enter Area Name">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                <div class="form-group">
                  <!-- <label for="city">City</label> -->
                  <input type="text" class="form-control" formControlName="city" 
                     title="Enter city" placeholder="Enter City Name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                <div class="form-group">
                  <!-- <label for="state">State</label> -->
                  <input type="text" class="form-control" formControlName="state" 
                     title="Enter state" placeholder="Enter StateName">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                <div class="form-group">
                  <!-- <label for="pincode">Pincode</label> -->
                  <input type="text" class="form-control" formControlName="pincode" 
                     title="Enter pincode" placeholder="Enter Pincode">
                </div>
              </div>
            </div>

           



            <div _ngcontent-rux-c5="" class="d-flex mr-0" style="justify-content: flex-end;">
                <div _ngcontent-rux-c5="" class="col-md-3">
                    <button _ngcontent-rux-c5="" class="btn btn-danger w-100" type="button" (click)="cnclAddStd()">Cancel</button>
                </div>
                <div _ngcontent-rux-c5="" class="col-md-3">
                    <button _ngcontent-rux-c5="" class="btn btn-primary w-100" type="submit">Submit</button>
                </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>

</div>